<div class="container-fluid p-0">

    <div class="container-fluid sb">
        <div class="row">
            <div class="col-2 title">Trạng thái</div>
            <div class="col-10">
                <div class="row h-100">
                    <div class="form-check col-4 my-auto">
                        <input class="form-check-input" type="radio" name="trangthaiphong" value="available">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Phòng trống
                        </label>
                    </div>
                    <div class="form-check col-4 my-auto">
                        <input class="form-check-input" type="radio" name="trangthaiphong" value="unavailable">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Phòng đang thuê
                        </label>
                    </div>
                    <div class="form-check col-4 my-auto">
                        <input class="form-check-input" type="radio" name="trangthaiphong" value="all">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Tất cả phòng
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div>
            <div class="title my-3">item.roomType.name</div>
            <div class="row">
                <h1>Không có phòng</h1>
                <button style="border: none;" class=" btn col-lg-3 col-md-4 col-sm-6 p-2">
                    <div class="cards__item">
                        <div class="card trong">
                            <div class="p-0 card__status">
                                <div class="row m-0">
                                    <div class="col-6 text-start fw-bold">room.roomNumber</div>
                                    <div class="col-6 text-end status1">Phòng đã đặt</div>
                                    <div class="col-6 text-end status2">Phòng trống</div>
                                </div>
                                <div class="row m-0 pt-3">
                                    <div class="col-3 p-0 icon1"><mat-icon aria-hidden="false" class="icon-size"
                                            aria-label="Example home icon" fontIcon="person"></mat-icon></div>
                                    <div class="col-3 p-0 icon2"><mat-icon aria-hidden="false" class="icon-size"
                                            aria-label="Example home icon" fontIcon="check_circle"></mat-icon></div>
                                    <div class="col-9 my-auto fs-5 text-center fw-bold">room.isAvaiable?'Phòng
                                        trống':room.guest.fullName</div>
                                </div>
                            </div>
                            <div class="card__content">
                                <div class="row">
                                    <div class="col-6 cangiua">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="calendar_month"></mat-icon>
                                        <span>room.isAvaiable?"0 ngày": room.diffDays+ " ngày"</span>
                                    </div>
                                    <div class="col-6 cangiua text-end">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="done"></mat-icon>
                                        <span>Đã dọn dẹp</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </button>
            </div>
        </div>

        <div>
            <div class="title my-3">item.roomType.name</div>
            <div class="row">
                <h1>Không có phòng</h1>
                <button style="border: none;" class=" btn col-lg-3 col-md-4 col-sm-6 p-2">
                    <div class="cards__item">
                        <div class="card dadat">
                            <div class="p-0 card__status">
                                <div class="row m-0">
                                    <div class="col-6 text-start fw-bold">room.roomNumber</div>
                                    <div class="col-6 text-end status1">Phòng đã đặt</div>
                                    <div class="col-6 text-end status2">Phòng trống</div>
                                </div>
                                <div class="row m-0 pt-3">
                                    <div class="col-3 p-0 icon1"><mat-icon aria-hidden="false" class="icon-size"
                                            aria-label="Example home icon" fontIcon="person"></mat-icon></div>
                                    <div class="col-3 p-0 icon2"><mat-icon aria-hidden="false" class="icon-size"
                                            aria-label="Example home icon" fontIcon="check_circle"></mat-icon></div>
                                    <div class="col-9 my-auto fs-5 text-center fw-bold">room.isAvaiable?'Phòng
                                        trống':room.guest.fullName</div>
                                </div>
                            </div>
                            <div class="card__content">
                                <div class="row">
                                    <div class="col-6 cangiua">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="calendar_month"></mat-icon>
                                        <span>room.isAvaiable?"0 ngày": room.diffDays+ " ngày"</span>
                                    </div>
                                    <div class="col-6 cangiua text-end">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            fontIcon="done"></mat-icon>
                                        <span>Đã dọn dẹp</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </button>

               
            </div>
        </div>

    </div>
</div>