<button type="button" style="margin: 8px 24px;" class="btn btn-primary" (click)="openDialogBook()">
    Đặt phòng
</button>
<div class="container-fluid" *ngFor="let item of reservationsWithNumber; let i = index">
   
    <div class="card-checkin">
        <div class="card-checkin-title fs-3 fw-bold my-2">#00{{i+1}}</div>
        <div class="card-checkin-text">
            <p>Từ: {{item.reservation.startTime | date:'dd/MM/yyyy'}}</p>
            <p>Đến {{item.reservation.endTime | date:'dd/MM/yyyy'}}</p>
            <p>{{item.number}} room</p>
            <p>Tên khách hàng {{item.reservation.guest?.fullName}}</p>
        </div>
        <div>
            <button class="btn btn-danger col-2 mx-2">Hủy yêu cầu đặt</button>
            <button class="btn btn-primary col-2" (click)="openDialogCheckIn(item.reservation.reservationID,item.reservation.guestID)">Xem</button>
        </div>
    </div>
   
</div>