<button type="button" style="margin: 8px 24px;" class="btn btn-primary" >
    Đặt phòng
</button>
<div class="container-fluid">
   
    <div class="card-checkin">
        <div class="card-checkin-title fs-3 fw-bold">#00</div>
        <div class="card-checkin-text">
            <p>From: item.reservation.startTime </p>
            <p>To: item.reservation.endTime </p>
            <p>item.number room</p>
            <p>Name: item.reservation.guest.fullName</p>
        </div>
        <div>
            <button class="btn btn-danger col-2 mx-2" >Cancel</button>
            <button class="btn btn-primary col-2" >View</button>
        </div>
    </div>
   
</div>