<div class="container vh-100" style="background-color: #649e81;">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5 mt-5">
                <div class="card-body p-10">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1">
                              <img src="../../../assets/img/hotel_logo.jpg" width="100%">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                                </div>
                                <form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                  <div class="mb-3">
                                    <input class="form-control form-control-user" type="text" aria-describedby="username"
                                           placeholder="Enter your username" name="userNameOrEmailOrPhoneNumber" id="userNameOrEmailOrPhoneNumber" formControlName="email" >
                                    <small *ngIf="submitted && loginForm.get('email')?.hasError('required')" class="p-1 text-danger">*Username is required</small>
                                  </div>
                                  <div class="mb-3">
                                    <input class="form-control form-control-user" type="password" placeholder="Password" name="password" id="password" formControlName="password" >
                                    <small *ngIf="submitted && loginForm.get('password')?.hasError('required')" class="p-1 text-danger">*Password is required</small>
                                  </div>
                                  
                                  
                                  <button [disabled]="submitted && loginForm.invalid" class="btn d-block btn-user w-100 fw-bold" style="background-color: #50d693; color:#FFFFFF" type="submit">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
