<div class="container-fluid">
    <h3 class="text-dark mb-4">User Manage</h3>
    <div class="card shadow">
        <div class="card-header py-3 d-flex d-flex justify-content-between">
            <p class="text-primary m-0 fw-bold">Employee Info</p>
            <!-- <button type="button" class="btn btn-primary" (click)="openAddDialog()">
                Add
            </button> -->
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">

                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter col-12" id="dataTable_filter">
                        <label class="form-label col-12">
                            <input type="search" class="form-control form-control-sm col-12" placeholder="Search">
                        </label>
                    </div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Start date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td><img class="rounded-circle me-2" width="30" height="30"
                                    src="assets/img/avatars/avatar5.jpeg"></td>
                            <td>{{user.userName}}</td>                          
                            <td>{{user.email}}</td>
                            <td>{{user.dateJoined | date:'dd/MM/yyyy'}}</td>
                            <td class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary col-4"
                                    (click)="openUpdateDialog(user)">
                                    Update
                                </button>

                                <button type="button" class="btn btn-danger col-4 mx-2"
                                    (click)="deleteUser(user.id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    


</div>