<div class="header-room">
    <div class="wrap-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="header-search" type="search" name="" placeholder="Nhập tên loại phòng cần tìm">
    </div>
    <button type="button" class="header-find" (click)="openAddDialog()">
      Thêm loại phòng
    </button>
</div>

<div class="table-room">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên loại phòng</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Giá ngày</th>
            <th scope="col">Sửa</th>
            <th scope="col">Xóa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roomType of roomTypes">
            <td>{{roomType.name}}</td>          
            <td>{{roomType.description}}</td>
            <td>{{roomType.dailyPrice}}</td>
            <td (click)="openUpdateDialog(roomType)"><i class="fa-solid fa-pen-to-square" ></i></td>
            <td (click)="deleteRoomType(roomType.roomTypeID)"><i class="fa-solid fa-trash-can" ></i></td>
          </tr>
        </tbody>
      </table>
</div>


